<div class="background-dark"></div>

<div id="edit-sphere-sidebar" class="animated slideInRight">
	<form role="form">
		<input type="hidden" id="it" ng-model="formItem.id" value="{{ formItem.id }}">
		<div class="form-group" ng-if="authenticatedUser.can('edit_title', item)">
			<label for="title">Title:</label>
			<input type="text" id="title" class="form-control" ng-model="formItem.title" value="{{ formItem.title }}">
	    	<span class="form-error">{{ media.error.error_title }}</span>
		</div>

		<div class="form-group" ng-if="authenticatedUser.can('edit_code', item)">
			<label for="code">Short name:</label>
			<input type="text" id="code" class="form-control" ng-model="formItem.code" value="{{ formItem.code }}">
	    	<span class="form-error">{{ media.error.error_code }}</span>
		</div>

		<div class="form-group" ng-if="authenticatedUser.can('edit_tags', item)">
			<label for="tags">Tags:</label>
			<tags-input ng-model="formItem.tags"></tags-input>
<!--
			<input type="text" id="tags" class="form-control" ng-model="formItem.tags" value="{{ formItem.tags }}">
-->
	    	<span class="form-error">{{ media.error.error_tags }}</span>
		</div>
<!--
		<div class="form-group">
			<label for="title">Mode:</label>
			<input type="text" id="mode" class="form-control">
		</div>

		<div class="form-group">
			<label for="title">Public:</label>
			<input type="text" id="public" class="form-control">
		</div>
-->
		<div class="form-group">
			<button class="btn btn-primary" ng-click="save(formItem)">
				<i class="fa fa-floppy-o fa-fw" ng-if="!formSaving"></i>
				<i class="fa fa-spinner fa-pulse fa-fw" ng-if="formSaving"></i>
				Save
			</button>

			<button class="btn btn-warning" ng-click="cancel(formItem)">
				<i class="fa fa-times-circle"></i>
				Cancel
			</button>

			<button class="btn btn-danger pull-right" ng-click="showDeleteConfirmation = !showDeleteConfirmation"><i class="fa fa-trash-o"></i></button>
		</div>

		<div id="alert-delete" class="alert alert-warning" ng-show="showDeleteConfirmation">
			<p>
				<i class="fa fa-question-circle"></i>
				Are you sure you wish to delete this media? This operation is irreversible.
			</p>

			<div class="form-group">
				<button class="btn btn-danger" ng-click="deleteMedia(formItem)">
					<i class="fa fa-spinner fa-pulse fa-fw" ng-if="formDeleting"></i>
					Yes
				</button>
				<button class="btn btn-primary" ng-click="showDeleteConfirmation = false">No</button>
			</div>
		</div>

		<div class="alert alert-danger error-general" ng-if="media.error.error_general">
			<i class="fa fa-check"></i> {{ media.error.error_general }}
		</div>

		<div class="alert alert-success message-general" ng-if="media.message.message_general">
			<i class="fa fa-check"></i> {{ media.message.message_general }}
		</div>
	</form>
</div>