<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed"
				data-target="#navbar" data-toggle="collapse" type="button" ng-init="mainMenuCollapsed = true" ng-click="mainMenuCollapsed = !mainMenuCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img class="site-logo" src="/api/logo/site" alt="" />
				<span class="site-title hidden-xs" ng-if="site.site_title">{{ site.site_title }}</span>
			</a>
			<div class="header-buttons visible-xs">
				<button ng-if="authToken" class="btn btn-xs btn-warning pull-right" ui-sref="spheres"><i class="icon ion-images" style="font-size: 22px;"></i></button> 
				<button class="btn btn-xs btn-primary pull-right" ui-sref="upload" style="margin-right: 10px;"><i class="icon ion-upload" style="font-size: 22px;"></i></button> 
			</div>
		</div>

		<div class="navbar-collapse collapse" id="navbar" ng-class="!mainMenuCollapsed && 'in'" ng-click="mainMenuCollapse = true">
			<ul class="nav navbar-nav navbar-right text-center">
				<li ng-class="{ active: $state.includes('upload')}">
					<a ui-sref="upload">Upload</a>
				</li>
				<li ng-class="{ active: $state.includes('spheres')}" ng-if="authToken">
					<a ui-sref="spheres">Spheres</a>
				</li>
				<li ng-class="{ active: $state.includes('auth') || $state.includes('signup')}" ng-if="!authToken">
					<a ui-sref="auth">Login</a>
				</li>
				<li class="dropdown dropdown-profile" ng-init="userMenuCollapsed = true" ng-class="!userMenuCollapsed && 'open'" ng-if="authToken">
					<a href="#" class="dropdown-toggle" ng-click="userMenuCollapsed = !userMenuCollapsed" data-toggle="dropdown">
						<i class="fa fa-user"></i>
						{{ authenticatedUser.name }}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li align="center">
							<a ui-sref="profile">Profile</a>
						</li>
						<li align="center">
							<a ui-sref="logout">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>