.overflow-hidden
{
	overflow: hidden;
}

.navbar-brand
{
	padding: 0px 0px 0px 15px;
}

	.navbar-brand img.site-logo
	{
		float: left;
		max-height: 50px;
	}

	.navbar-brand span.site-title
	{
		float: left;
		padding: 15px 0px 15px 15px;
	}

@media (max-width: 460px)
{
	.navbar-brand img.site-logo
	{
		max-width: 125px;
	}
}

.display-none
{
	display: none;
}

#login, #media-grid
{
	margin-top: 20px;
}

#import-grid
{
	margin-top: 40px;
}

form#login-form
{
	margin-bottom: 20px;
}

#login button span
{
	padding-right: 5px;
}

.btn-google-plus
{
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover, .btn-google-plus:focus
{
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook
{
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover, .btn-facebook:focus
{
  color: #fff;
  background-color: #294786;
}

.background-dark
{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1001;
	background-color: #000000;
	height: 100%;
	opacity: 0.65;
	width: 100%;
}

#page-loader
{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1500;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	text-align: center;
	width: 100px;
}

	#page-loader i.fa-spinner
	{
		color: #d0d0d0;
	}

span.create-account
{
	margin-left: 15px;
}

	span.create-account a
	{
		text-decoration: underline;
	}

.form-error
{
	color: #d00000;
}


#upload div.upload-section
{
	margin-bottom: 40px;
	margin-top: 10px;
}

#upload div.import-section
{
	margin-bottom: 40px;
}

#upload div.instructions
{
	background-color: #e6e6e6;
}

div#upload-progress, div#import-progress
{
	margin-top: 20px;
}

#upload .progress-bar
{
/*
	background: rgb(30,87,153);
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(125,185,232,1) 100%);
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%);
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
	copy
*/
}


@media (max-width: 825px)
{
	#import-form button.submit-button
	{
		margin-top: 20px;
	}
}

@media only screen and (max-width: 767px)
{
	.dropdown-profile .dropdown-toggle
	{
		display: none;
	}

	.dropdown-profile .dropdown-menu
	{
		display: block;
		position: static;
		background-color: transparent;
		border: 0px none;
		box-shadow: none;
		margin-top: 0px;
		padding: 0px;
		width: 100%;
	}

	.navbar-nav .open .dropdown-profile .dropdown-menu .dropdown-header,
	.navbar-nav .open .dropdown-profile .dropdown-menu > li > a
	{
		padding: 0px;
	}

	.navbar-nav .dropdown-profile .dropdown-menu > li > a, 
	.navbar-nav .dropdown-menu .dropdown-header
	{
	    padding-top: 10px;
	    padding-bottom: 10px;
	    line-height: 20px;
	}

	.navbar-nav .dropdown-profile .dropdown-menu > li > a
	{
		line-height: 20px;
	}

	.navbar-default .navbar-nav .dropdown-profile .dropdown-menu > li > a
	{
		color: #777;
	}	
}

.navbar-header .header-buttons
{
	margin-top: 7px;
}

	.navbar-header .header-buttons .btn
	{
		margin-right: 12px;
		padding-left: 12px;
		padding-right: 12px;
	}

p.password-reset
{
	margin-bottom: 0px;
	margin-top: 10px;
}

div.alert.message-general
{
	margin-top: 10px;
}
