/* Uploader */
.uploader
{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 100px 0px 0px 0px;
	margin-bottom: 10px;

	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.uploader div.or {
	font-size: 50%;
	font-weight: bold;
	color: #C0C0C0;
	padding: 10px;
}

/*
.uploader div.browser label {
	background-color: #5a7bc2;
	padding: 5px 15px;
	color: white;
	padding: 6px 0px;
	font-size: 40%;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	display: block;
	width: 300px;
	margin: 20px auto 0px auto;

	box-shadow: 2px 2px 2px #888888;
}
*/

.uploader div.browser label {
	background-color: transparent;
	padding: 5px 15px;
	color: white;
	padding: 6px 0px;
	font-size: 40%;
	font-weight: bold;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: block;
	width: 300px;
	margin: 20px auto 0px auto;
}

.uploader div.browser span {
	cursor: pointer;
}


.uploader div.browser input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: .0;
	filter: alpha(opacity= 0);
	-o-transform: translate(250px,-50px) scale(1);
	-moz-transform: translate(-300px,0) scale(4);
	direction: ltr;
	cursor: pointer;
}

/*
.uploader div.browser label:hover {
	background-color: #427fed;
}
*/

/* Main Styles */
#demo-nav {
  background: url(images/dark-bg.png);
  min-height: 40px;
}

#demo-nav a {
  /*color: #aaa;*/
  font-weight: bold;
  
  font-size: 12px;
  
  padding: 10px 15px;
}

#demo-nav a.home {
  color: #FFBF00;
  font-size: 16px;
  padding-left: 0px;
}

.demo-wrapper {
	margin-top:40px;
}

.demo-columns {
	margin-top: 35px;
	margin-bottom: 15px
}

.demo-note{
	color:gray;
	font-style: italic;
}

.demo-footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Debug console */
.demo-panel-debug {
	min-height: 90px;
	max-height: 90px;
	overflow: auto;
	cursor: default;
}

.demo-panel-debug ul {
	margin-bottom: 0px;
	padding-left: 0px;
	list-style-type:none;
}

.demo-panel-debug ul li,
.demo-panel-debug ul li.demo-default {
	color: gray;
}

.demo-panel-debug ul li.demo-error {
	color: #990000;
}

.demo-panel-debug ul li.demo-success {
	color: #009900;
}

.demo-panel-debug ul li.demo-info {
	color: #000099;
}

/* D&D Demo */
.demo-panel-files {
	max-height: 290px;
	min-height: 290px;
	overflow: auto;
	cursor: default;
}

.demo-file-id {
	font-weight: bold;
}

.demo-file-size{
	font-style: italic;
	color: gray;
	font-size: 90%;
}

.demo-file-status,
.demo-file-status-default{
	color: gray;
}

.demo-file-status-error{
	color: #990000;
}

.demo-file-status-success{
	color: #009900;
}

.demo-image-preview {
	float:left;
	margin-right: 10px;
	margin-top: 4px;
	height: 56px;
	width: 80px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.demo-file-box
{
	position: relative;
}

a.preview
{
	position: absolute;
	top: 15px;
	left: 8px;
	display: block;
}
