<ng-include src="'/partials/header.html'"></ng-include>

<div id="login" class="col-sm-6 col-sm-offset-3">
	<div class="well">
		<h3>Login</h3>
		<form id="login-form">
			<div class="form-group">
		    	<input type="email" class="form-control" placeholder="Email" ng-model="auth.email">
		    	<span class="form-error">{{ auth.error.error_email }}</span>
		  	</div>
		  	<div class="form-group">
		    	<input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
		    	<span class="form-error">{{ auth.error.error_password }}</span>
		  	</div>
		  	<button class="btn btn-primary" ng-click="auth.login()">Login</button>
			<span class="create-account small" ng-if="site.allow_signups">
				<a href="/signup">Create a new account</a>
			</span>
		</form>

        <button class="btn btn-block btn-google-plus" ng-click="authenticateSocial('google')" ng-if="site.sso_google">
			<span class="ion-social-googleplus"></span> Sign in with Google
        </button>

        <button class="btn btn-block btn-facebook" ng-click="authenticateSocial('facebook')" ng-if="site.sso_facebook">
			<span class="ion-social-facebook"></span> Sign in with Facebook
        </button>

		<p class="text-center small password-reset">
			<a ui-sref="passwordreset">Forgot your password?</a>
		</p>
	</div>
</div>