<ng-include src="'/partials/header.html'"></ng-include>

<edit-sphere ng-if="pageEditing" item="currentItem"></edit-sphere>

<div id="media-grid" ng-if="media.items" class="animated fadeIn">
	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6" ng-repeat="item in media.items track by $index">
		<div class="media-item" ng-click="view(item)">
			<div class="media-item-image">
				<img src="/api/thumb/{{ item.code }}" alt="" />
			</div>
			<div class="media-item-info">
				<div class="media-item-code">{{ item.code }}</div>
				<div class="media-item-title">{{ item.title }}</div>
			</div>
			<div class="media-item-edit" ng-if="authenticatedUser.can('edit', item)">
				<button ng-click="edit(item, $index, $event)" item="item" class="edit btn btn-md btn-default">Edit</button>
			</div>
		</div>
	</div>
	<div class="alert alert-danger" ng-if="user.error">
		<strong>There was an error: </strong> {{user.error.error}}<br />
		Please go back and login again.
	</div>
</div>

