<ng-include src="'/partials/header.html'"></ng-include>

<div id="password-reset" class="col-sm-6 col-sm-offset-3">
	<div class="well">
		<h3>Reset Your Password</h3>
		<p>Please enter your email address to reset your password.</p>
		<form id="password-reset-form">
			<div class="form-group">
		    	<input type="email" id="email" class="form-control" placeholder="Email" ng-model="auth.email">
		  	</div>

			<div class="alert alert-danger" ng-if="auth.error.error_email || auth.error.error_general">
				<i class="fa fa-exclamation-triangle"></i>
				{{ auth.error.error_email }}
				{{ auth.error.error_general }}
			</div>

			<div class="alert alert-success message-general" ng-if="auth.message.message_general">
				<i class="fa fa-check"></i>
				{{ auth.message.message_general }}
			</div>

		  	<button class="btn btn-primary" ng-click="auth.resetPassword()">Submit</button>
			<a class="btn btn-danger" ui-sref="auth">Cancel</a>
		</form>
	</div>
</div>