<ng-include src="'/partials/header.html'"></ng-include>

<div id="password-reset" class="col-sm-6 col-sm-offset-3">
	<div class="well" ng-if="pageLoaded">
		<h3>Reset Your Password</h3>
		<div class="alert alert-danger" ng-if="password.error.error_email || password.error.error_general">
			<i class="fa fa-exclamation-triangle"></i>
			{{ password.error.error_email }}
			{{ password.error.error_general }}
		</div>

		<div class="alert alert-success message-general" ng-if="password.message.message_general">
			<i class="fa fa-check"></i>
			{{ password.message.message_general }}
		</div>

		<a class="btn btn-primary" ui-sref="auth">Back to Login</a>
	</div>
</div>