<ng-include src="'/partials/header.html'"></ng-include>

<div id="profile" class="col-sm-6 col-sm-offset-3">
	<div class="well">
		<h3>Edit your profile</h3>
		<form id="profile-edit-form">
			<div class="form-group">
				<label for="name">Name</label>
		    	<input type="text" id="name" class="form-control" placeholder="Name" ng-model="profile.name" ng-value="authenticatedUser.name">
		    	<span class="form-error">{{ profile.error.error_name }}</span>
		  	</div>
			<div class="form-group">
				<label for="email">Email</label>
		    	<input type="email" id="email" class="form-control" placeholder="Email" ng-disabled="authenticatedUser.auth_provider != 'local'" ng-model="profile.email" ng-value="authenticatedUser.email">
		    	<span class="form-error">{{ profile.error.error_email }}</span>
		  	</div>

			<hr />

		  	<div class="form-group">
		  		<label for="oldpassword">Change Password</label>
		    	<input type="password" id="oldpassword" class="form-control" placeholder="Current Password" ng-disabled="authenticatedUser.auth_provider != 'local'" ng-model="profile.oldpassword">
		    	<span class="form-error">{{ profile.error.error_oldpassword }}</span>
		  	</div>
		  	<div class="form-group">
		    	<input type="password" id="newpassword" class="form-control" placeholder="New Password" ng-disabled="authenticatedUser.auth_provider != 'local'" ng-model="profile.newpassword">
		    	<span class="form-error">{{ profile.error.error_newpassword }}</span>
		  	</div>
		  	<div class="form-group">
		    	<input type="password" id="verifypassword" class="form-control" placeholder="Verify password" ng-disabled="authenticatedUser.auth_provider != 'local'" ng-model="profile.verifypassword">
		    	<span class="form-error">{{ profile.error.error_verifypassword }}</span>
		  	</div>

			<p class="form-error">{{ profile.error.error_general }}</p>

		  	<button class="btn btn-primary" ng-click="profile.save()">Save</button>

			<div class="alert alert-success message-general" ng-if="profile.message.message_general">
				<i class="fa fa-check"></i> {{ profile.message.message_general }}
			</div>
		</form>

		<div ng-if="profile.check_imports >= 0">
			<hr />
			<p>Do you have some images you uploaded to our old site?</p>
			<p><a class="btn btn-danger" ui-sref="import">Import previous uploads</a></p>
		</div>
	</div>
</div>