<ng-include src="'/partials/header.html'"></ng-include>

<div id="upload" class="col-sm-6 col-sm-offset-3">
	<div class="well text-center">
		<div class="upload-section">
			<p class="lead upload-text">Upload a photo sphere or panorama:</p>
			<button ng-hide="fileUploading" class="btn btn-lg btn-primary" type="file" ngf-select="upload($file)" ngf-pattern="'image/*'" ngf-accept="'image/*'">
				Upload File
			</button>
			<button ng-show="fileUploading" class="btn btn-lg btn-danger" ng-click="cancel()">
				Please Wait
			</button>
			<div id="upload-progress" ng-if="fileUploading" class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': uploadProgressPercentage + '%' }">
					{{ uploadProgressString }}
				</div>
			</div>
		</div>

		<div class="import-section">
			<p class="lead import-text">Or paste a direct URL to a photo sphere:</p>
			<form id="import-form" class="form-inline" role="form">
				<div class="form-group">
					<input class="form-control input-lg" type="text" id="url" ng-model="url" />
				</div>
				<button class="submit-button btn btn-lg btn-success" ng-click="import()">Submit</button>
			</form>
			<div id="import-progress" ng-if="fileImporting" class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': importProgressPercentage + '%' }">
					{{ importProgressString }}
				</div>
			</div>
		</div>

		<div class="instructions well">
			<p class="text-left">
				Note: Direct links to G+ pages aren't supported. The URL must directly link to a .jpg. Example: <a href="https://goo.gl/zi1hs1" target="_blank">https://goo.gl/zi1hs1</a>.
			</p>
<!--
			<p class="text-left">
				Tip: You can also load this as <u>{{ site.url }}/upload?url={enter_url_here}</u>.
			</p>
-->
			<p class="text-left">
				Need help finding photospheres to import or upload? Look on <a href="https://www.google.com/search?safe=strict&site=&tbm=isch&source=hp&biw=1352&bih=536&q=equirectangular+%7C+photospheres+%7C+panorama&oq=equirectangular+%7C+photospheres+%7C+panorama&gs_l=img.3...930.8553.0.8688.68.24.10.28.11.0.150.2653.12j12.24.0....0...1ac.1.64.img..9.38.2245...0j0i10i24j0i24.K9o3DbmynPI#safe=strict&tbm=isch&q=equirectangular%7Cphotospheres" target="_blank">Google Images</a>.
			</p>
		</div>
	</div>
</div>