<div class="alert alert-danger text-center viewer-error" ng-if="error">
	<i class="fa fa-exclamation-triangle fa-3x"></i>
	<span>{{ viewer.error.error_general }}</span>
</div>

<div
  id="viewer"
  class="embedded-viewer" 
  ng-if="projectLoaded"
  spherecast-viewer
>
    <div id="viewer-toolbar">
		<div id="togglemode">
		    <input id="togglemode-checkbox" name="togglemode-checkbox" ng-model="vrMode" type="checkbox" ng-change="toggleMode()" />
		    <label class="togglemode-label" for="togglemode-checkbox">
		        <span class="togglemode-icon"></span>
		    </label>
		</div>

		<a id="viewer-share" ng-click="showShareBlock = !showShareBlock"></a>

		<a id="viewer-fullscreen" ng-click="toggleFullscreen()"></a>

		<a id="viewer-upload" class="upload" ui-sref="upload"></a>

		<div id="share" ng-show="showShareBlock">
			<a class="close" ng-click="showShareBlock = !showShareBlock"></a>

			<div class="container-fluid">
				<div class="col-xs-8 share-text">
					<label for="url">URL</label>
					<input id="share-url" name="share-url" type="text" value="{{ site.url }}/{{ activeProject.shortname }}" readonly="readonly" ng-click="selectShareText($event)" />
		
					<label for="embed">Embed</label>
					<textarea id="share-embed" name="share-embed" readonly="readonly" ng-click="selectShareText($event)" >&lt;iframe src="{{ site.url }}/{{ activeProject.shortname }}" width="640" height="320" frameborder="0" allowfullscreen /&gt;</textarea>
				</div>

				<div class="col-xs-4 qr-code">
					<img src="/api/qrcode/{{ activeProject.shortname }}" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>
        