@desktop: ~"only screen and (min-width: 992px)";
@tablet: ~"only screen and (max-width: 991px)";
@phone-landscape: ~"only screen and (max-width: 768px)";
@phone-portrait: ~"only screen and (max-width: 480px)";
@main-menu-collapse: ~"only screen and (max-width: 1180px)";

// editmedia.less
@sidebar-width: 440px;
@sidebar-slide-delay: 3s;