@media (max-width: 767px) and (orientation: portrait)
{
  .col-xs-6
  {
    width: 100%;
  }

    .col-xs-6 .media-item
    {
      min-height: 60px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px)
{
  .col-lg-2
  {
    width: 25%;
  }
}
