@import 'common.less';

#viewer
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.viewer-error
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.viewer-error span
{
	font-size: 28px;
	margin-left: 10px;
}

#viewer-toolbar
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 2000;
/*
	left: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
*/
	width: 100%;
}

#togglemode
{
	position: absolute;
	bottom: 0px;
	left: 5px;
	width: 40px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none
}

	#togglemode-checkbox
	{
		display: none
	}

	.togglemode-label
	{
		display: block;
		overflow: hidden;
		cursor: pointer;
	}

	.togglemode-icon
	{
		display: block;
		width: 200%;
		margin-left: -100%;
		-moz-transition: margin .1s linear 0;
		-webkit-transition: margin .1s linear 0;
		-o-transition: margin .1s linear 0;
		transition: margin .1s linear 0;
	}

	.togglemode-icon:before, .togglemode-icon:after
	{
		display: block;
		float: left;
		width: 50%;
		height: 40px;
		padding: 0;
	}

	.togglemode-icon:before
	{
		content: url('/assets/images/googlecardboard.png');
		background-color: transparent;
	}

	.togglemode-icon:after
	{
		content: url('/assets/images/panorama.png');
		background-color: transparent;
	}

	#togglemode-checkbox:checked + .togglemode-label .togglemode-icon
	{
		margin-left: 0px;
	}

#viewer-upload
{
	position: absolute;
	bottom: 14px;
	left: 105px;
	background: transparent url('/assets/images/upload.png') no-repeat;
	cursor: pointer;
	display: block;
	height: 25px;
	width: 25px;
}

#viewer-fullscreen
{
	position: absolute;
	bottom: 13px;
	right: 5px;
	background: transparent url('/assets/images/fullscreen.png') no-repeat;
	cursor: pointer;
	display: block;
	/* float: left; */
	height: 25px;
	opacity: 0.8;
	width: 25px;
}

#viewer-share
{
	position: absolute;
	bottom: 13px;
	left: 60px;
	background: transparent url('/assets/images/share.png') no-repeat;
	cursor: pointer;
	display: block;
	/* float: left; */
	height: 25px;
	opacity: 0.8;
	width: 25px;
}

#share
{
	background-color: #f6f6f6;
	border-radius: 5px;
	border: 3px solid rgba(128, 128, 128, 0.5);
	position: fixed;
	z-index: 100;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 300px;
	margin: auto;
	max-width: 640px;
	opacity: 0.95;
	padding: 25px;
	width: 90%;

	.qr-code
	{
		padding-top: 30px;

    img
  	{
  		max-width: 160px;
  		width: 100%;
  	}
  }
}

	@media (max-width: 767px) and (orientation: portrait)
	{
		#share
		{
			height: 360px;
		}

		.col-xs-8.share-text
		{
			float: none;
			width: 100%;
		}
	
		#share .col-xs-4.qr-code
		{
			float: none;
			margin: 0px auto;
			padding-top: 15px;
			width: 120px;
		}

		#share .qr-code img
		{
			height: 100px;
			width: 100px;
		}
	}

	#share.show
	{
		display: block;
	}

	#share a.close
	{
		background: transparent url('/assets/images/close.png') no-repeat;
		cursor: pointer;
		float: right;
		height: 30px;
		margin-right: -20px;
		margin-top: -20px;
		width: 30px;
	}

	#share label
	{
		display: block;
		font-size: 15px;
		margin-bottom: 7px;
	}

	#share label + input + label
	{
		margin-top: 20px;
	}

	#share input
	{
		background-color: #ffffff;
		width: 100%;
	}

	#share textarea
	{
		height: 6em;
		width: 100%;
	}